<div ng-controller="accountController" style="padding-top: 75px;">


    <div class="content-header">
        <div style="display: inline;">
            <i class="material-icons back-arrow" ng-click="goTo('/accounts')" style="font-size: 1em; padding-right: 10px; cursor: pointer;">keyboard_backspace</i>
            <span>{{accountType}} Overview</span>
        </div>
            <i class="material-icons delete-icon" style="float: right;font-size: 2em;margin-right: 25px;background: #F4F5F7;border-radius: 4px;" ng-click="deactivateAccount(account)" ng-show="account.billAccountId || account.debtAccountId"> delete</i>
        </div>

          <div style="background: white; padding: 25px; margin: 25px 100px 25px 100px; overflow: overlay; border-radius: 3px;">

              <div class="basic-title" style="font-size: 22px;">General Details</div>
              <div style="padding: 25px; padding-top: 3em;">
                  <div class="edit-input">
                      <span class="basic-title" style="font-weight: normal;">Name</span>
                      <input type="text"  ng-model="account.name"/>
                  </div>
                  <div class="edit-input" >
                      <span class="basic-title" style="font-weight: normal;">User Name</span>
                      <input type="text"  ng-model="account.userName"/>
                  </div>
                  <div class="edit-input" >
                      <span class="basic-title" style="font-weight: normal;">Url</span>
                      <input type="url" ng-model="account.url" class="validate"/>
                      </div>
                  <div class="edit-input" >
                      <span class="basic-title" style="font-weight: normal;">Password</span>
                      <input type="text"  ng-model="account.password"/>
                  </div>
                  <div>
                      <span class="basic-title" style="font-weight: normal;">Description</span>
                      <div class="row">
                          <div class="input-field col s12">
                              <textarea id="textarea1" class="materialize-textarea" ng-model="account.description"></textarea>
                          </div>
                      </div>
                  </div>
             </div>


          </div>

    <div style="background: white; padding: 25px; margin: 25px 100px 25px 100px; overflow: overlay; border-radius: 3px;">
        <div class="basic-title" style="font-size: 22px;">Financial Details</div>
        <div style="padding: 25px; padding-top: 3em;">
            <div class="edit-input">
                <span class="basic-title" style="font-weight: normal;">Time Of Payment</span>
                <select type="text"  ng-model="account.timeOfPayment">
                    <option value = "FIRST">First</option>
                    <option value="SECOND">Second</option>
                </select>
            </div>
            <div class="edit-input">
                <span class="basic-title" style="font-weight: normal;">Monthly Amount</span>
                <input type="number"  ng-model="account.monthlyAmount"/>
            </div>

            <div class="edit-input" ng-show="accountType === 'Debt'">
                <span class="basic-title" style="font-weight: normal;">Interest</span>
                <input type="number"  ng-model="account.interest"/>
            </div>
            <div class="edit-input" ng-show="accountType === 'Debt'">
                <span class="basic-title" style="font-weight: normal;">Original Amount</span>
                <input type="number" ng-model="account.originalAmount"/>
            </div>
            <div class="edit-input" ng-show="accountType === 'Debt'">
                <span class="basic-title" style="font-weight: normal;">Total Remaining</span>
                <input type="number"  ng-model="account.totalRemaining"/>
            </div>



        </div>
    </div>
    

    <div class="row">
        <button class="btn waves-effect waves-light center col s12 m2 offset-m5" type="submit" id="submit" name="submit" ng-click="saveAccount(account)">
            Save Expense Account
        </button>
    </div>


</div>
