<div ng-controller="accountsController" style="padding-top: 75px;">



    <!-- Side Filtering -->
    <div class="side-navigation">

        <div style="padding: 10px;">
            <div style="margin-bottom: 25px; text-align: center; font-size: 18px; margin-top: 25px;"><b>Payment Type</b></div>
            <md-button class="side-nav-button" ng-click="filterItem.debt = !filterItem.debt" ng-class="{ 'active': filterItem.debt }" > Debt</md-button>
            <md-button class="side-nav-button" ng-click="filterItem.bill = !filterItem.bill" ng-class="{ 'active': filterItem.bill }"  > Billing</md-button>

            <div style="margin-bottom: 25px; text-align: center; font-size: 18px; margin-top: 25px;"><b>Time of Month</b></div>
            <md-button class="side-nav-button" ng-click="filterItem.first = !filterItem.first" ng-class="{ 'active': filterItem.first }"  >FIRST</md-button>
            <md-button class="side-nav-button" ng-click="filterItem.second = !filterItem.second" ng-class="{ 'active': filterItem.second }" > SECOND</md-button>


            <div style="margin-bottom: 25px; text-align: center; font-size: 18px; margin-top: 25px;"><b>Monthly Payment</b></div>
            <md-slider-container>
                <md-slider flex min="0" max="1000" ng-model="filterItem.payment" aria-label="red" id="red-slider">
                </md-slider>
                <md-input-container>
                    <span style="position: relative; top: -13px">$</span>
                    <input flex type="number" ng-model="filterItem.payment" aria-label="red" aria-controls="red-slider" style="margin-top: -50px;">
                </md-input-container>
            </md-slider-container>
            <div style="text-shadow: 0 0 black; margin-top: 1em;">
                <div class="legend-container"><md-icon md-svg-src="img/personal_account.svg" class="legend-icon"></md-icon> Debt Account</div>
                <div class="legend-container"><md-icon md-svg-src="img/bill_account.svg"  class="legend-icon"></md-icon>  Billing Account</div>

            </div>



        </div>
    </div>

    <div style="padding-left: 320px;">
        <div class="content-header">Expense Accounts</div>
        <div>

            <!-- Expense Accounts -->
            <ul ng-repeat="account in accounts | filter:filter">
                <li class="expense-account-container" ng-click="setAccount(account); ">
                    <div class="contents">

                        <div>
                            <md-icon md-svg-src="img/personal_account.svg" style="float:right; color: #42526e" ng-show="account.debtAccountId"></md-icon>
                            <md-icon md-svg-src="img/bill_account.svg" style="float:right; color: #42526e" ng-show="account.billAccountId"></md-icon>
                            <div class="expense-account-title">{{account.name}}</div>
                        </div>
                        <div style="font-size: 14px;"> {{account.description}}</div>
                        <div class="price-amount">
                            ${{account.monthlyAmount}}
                        </div>

                    </div>
                </li>
            </ul>

        </div>
    </div>





    <!-- Expense Account Creation -->
    <md-fab-speed-dial md-direction="up" class="md-scale md-fab-bottom-right"  md-open="false">
        <md-fab-trigger>
            <md-button aria-label="Menu" class="md-fab md-warn" style="background: #db4437; color: white;">
                <md-tooltip md-direction="top">Add</md-tooltip>
                <i class="material-icons" style="color:white; font-size: 24px;" >add</i>
            </md-button>
        </md-fab-trigger>

        <md-fab-actions>
            <md-button aria-label="Personal Account" class="md-fab md-raised md-mini modal-trigger" ng-click="createDebtAcc(); goTo('/account')">
                <md-tooltip md-direction="left">Debt Account</md-tooltip>
                <md-icon md-svg-src="img/personal_account.svg"></md-icon>
            </md-button>

            <md-button aria-label="Bill Account" class="md-fab md-raised md-mini" ng-click="createBillingAcc(); goTo('/account')">
                <md-tooltip md-direction="left">Billing Account</md-tooltip>
                <md-icon md-svg-src="img/bill_account.svg"></md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>


</div>
