<div ng-controller="homeController" style="padding-top: 100px;">


    <div class="white-content-panel" style="margin-left: 20%; margin-right: 20%; position: relative; margin-top: 4em; margin-bottom: 4em;" ng-hide="month">

        <div class="basic-title" style="font-size: 22px;">Monthly Billing Cycle</div>
        <div style="padding: 25px; padding-top: 1em;" class="month-cycle-creation">
            <p style="width: 50%">
                Billing cycles are a customized list of all your eligible debts and bills that provide a click-and-go interface to quickly manage your budget.
                See where you stand or pay off a bill at any time. <b>If you're new, make sure you add your billing information before creating a monthly cycle.</b> All of your progress is saved
                so that you can see where you stack up later down the road.
            </p>
            <img src="img/monthly_budget.jpg" style="border-radius: 100%; width: 22%; position: absolute; top: 30; right: 80;">
            <div >
                <div class="edit-input" style="width: 20%;">
                    <span class="title">Month:</span>
                    <!--<input type="text" ng-model="cycle.month"/>-->
                    <select ng-model="cycle.month">
                        <option ng-repeat="m in months" ng-value="m.month">{{m.month}}</option>
                    </select>
                </div>
                <div class="edit-input" style="width: 20%;">
                    <span class="title">Year:</span>
                    <input type="number" ng-model="cycle.year"/>
                </div>
            </div>
            <div style="padding-top: 25px;">
                <md-button class="md-raised md-primary" style="background-color: green;" ng-click="createMonthlyCycle(cycle)">Create Monthly Cycle</md-button>
            </div>
        </div>

    </div>








    <!-- ------------------------------------------------ Billing Cycle ---------------------------------------------- -->
    <!-- *********1st Month******** -->
    <div ng-show="month">
        <div class="basic-title" style="font-size: 22px; padding-left: 25px;">{{month}} {{year}}</div>
        <div class="content-header">First Half of Month</div>

        <div style="overflow: auto;">
            <div class="list-cards" ng-repeat="bill in bills1" style="display: inline; ">
                <md-card class="md-dark-grey-theme" md-theme-watch>
                    <md-card-title style="background: #03a9f4; color: white;">
                        <md-card-title-text>
                            <span class="md-headline card-title">{{bill.name}}</span>
                        </md-card-title-text>
                        <i style="float:right; font-size: 18px;"; class="fa fa-info-circle" aria-hidden="true">
                            <md-tooltip  md-direction="left">{{bill.info}}</md-tooltip>
                        </i>
                    </md-card-title>
                    <div class="acc-panel">
                        <div ng-repeat="acc in bill.accounts">
                            <div ng-init ="showInfo = false" ng-click="showInfo = !showInfo" class="account" ng-class="{'active' : showInfo, 'paid': acc.complete}" style="background: #f9f9f9; "><b>{{acc.name}}</b></div>
                            <div ng-show="showInfo">
                                <div class="row overview db-details">
                                    <span ng-show="acc.userName"><span class="title">Username: </span> <label class="ng-binding">{{acc.userName}}</label></span>
                                    <span ng-show="acc.password"><span class="title">Password: </span> <label class="ng-binding">{{acc.password}}</label></span>
                                    <span ng-show="acc.monthlyAmount"><span class="title">Amount: </span>
                                        <span style="color: green">$</span>
                                        <label ng-show="acc.billAuditId" class="ng-binding"> {{acc.monthlyAmount}}</label>
                                        <label ng-show="acc.debtAuditId" class="ng-binding"> {{acc.monthlyAmount - acc.paidAmount}}</label>
                                    </span>

                                </div>
                                <md-card-actions layout="row" layout-align="end center" >
                                    <md-button style="width: 100%; background: #6ec399; height: 25px; color: white !important;" ng-click="payBillingAcc(acc)">Pay<span ng-init="acc.paying = acc.monthlyAmount - acc.paidAmount" style="float:right;" ng-show="acc.debtAuditId">$<input class="payment-text-button" type="text" ng-model="acc.paying"></span></md-button>
                                    <md-button style="width: 100%; background: #eeeeee; height: 25px;"><a ng-href="{{acc.url}}" style="width: 100%; display: block;">Go</a></md-button>
                                </md-card-actions>
                            </div>
                        </div>
                        <div ng-show="bill.accounts.length === 0" class="yay-message">
                            You're good :). Now just make sure to save it!
                        </div>
                    </div>
                </md-card>
            </div>
        </div>

        <!-- *****2nd Part of Month***** -->
        <div class="content-header">Second Half of Month</div>
        <div style="overflow: auto;">
            <div class="list-cards" ng-repeat="bill in bills2" style="display: inline; ">
                <md-card class="md-dark-grey-theme" md-theme-watch>
                    <md-card-title style="background: #03a9f4; color: white;">
                        <md-card-title-text>
                            <span class="md-headline card-title">{{bill.name}}</span>
                        </md-card-title-text>
                        <i style="float:right; font-size: 18px;"; class="fa fa-info-circle" aria-hidden="true">
                            <md-tooltip  md-direction="left">{{bill.info}}</md-tooltip>
                        </i>
                    </md-card-title>
                    <div class="acc-panel">
                        <div ng-repeat="acc in bill.accounts">
                            <div ng-init ="showInfo = false" ng-click="showInfo = !showInfo" class="account" ng-class="{'active' : showInfo, 'paid': acc.complete}" style="background: #f9f9f9; "><b>{{acc.name}}</b></div>
                            <div ng-show="showInfo">
                                <div class="row overview">
                                    <span ng-show="acc.userName"><span class="title">Username: </span> <label class="ng-binding">{{acc.userName}}</label></span>
                                    <span ng-show="acc.password"><span class="title">Password: </span> <label class="ng-binding">{{acc.password}}</label></span>
                                    <span ng-show="acc.monthlyAmount"><span class="title">Amount: </span>
                                        <span style="color: green">$</span>
                                        <label ng-show="acc.billAuditId" class="ng-binding"> {{acc.monthlyAmount}}</label>
                                        <label ng-show="acc.debtAuditId" class="ng-binding"> {{acc.monthlyAmount - acc.paidAmount}}</label>
                                    </span>                                </div>
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button style="width: 100%; background: #6ec399; height: 25px; color: white !important;" ng-click="payBillingAcc(acc)">Pay<span ng-init="acc.paying = acc.monthlyAmount - acc.paidAmount" style="float:right;" ng-show="acc.debtAuditId">$<input class="payment-text-button" type="text" ng-model="acc.paying"></span></md-button>
                                    <md-button style="width: 100%; background: #eeeeee;"><a ng-href="{{acc.url}}" style="width: 100%; display: block;">Go</a></md-button>
                                </md-card-actions>
                            </div>
                        </div>
                        <div ng-show="bill.accounts.length === 0" class="yay-message">
                            You're good :). Now just make sure to save it!
                        </div>
                    </div>
                </md-card>
            </div>
        </div>
    </div>
    <!-- *************** Account Information ******************** -->
    <div class="content-header" >Personal Account Information</div>
    <div ng-show="bankAccounts.length === 0" class="no-content-text">
        No personal Accounts found. Better add some! Just use the Menu Button below.
    </div>
    <div style="overflow:auto;" ng-show="bankAccounts.length > 0">
        <div class="tight-box-list" ng-repeat="acc in bankAccounts" style="position: relative;">
            <div class="box">
                <div class="modal-trigger" ng-click="setBankAccount(acc); openModal('#bankModal')" href="#bankModal" >
                    <div style="padding-top: 10px;" >
                        <i class="material-icons">account_balance</i>
                        <div class="box-title">{{acc.name}}</div>
                        <p style="padding-bottom: 37px; padding-left: 5px; padding-right: 5px;">{{acc.description}}</p>
                    </div>
                </div>
                <div>

                    <div class="tight-box-feature add-card-holder modal-trigger" ng-click="initNewCard(acc.bankAccountId);openModal('#cardCreation'); " href="#cardCreation">
                        <span>Add Card</span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                    <div class="tight-box-feature account-settings modal-trigger" ng-click="setBankAccount(acc); openModal('#bankProfile');" href="#bankProfile">
                        <span>Edit Profile</span>
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>




    <!-- Bank Profile Modal -->
    <div id="bankProfile" class="modal">
        <div class="bank-acc-modal">

            <div class="main-title">Account Settings</div>
                <div class="right-panel-icon">
                    <i class="material-icons delete-icon" ng-click="deletePersonalAcc(bankAcc.bankAccountId)">delete</i>
                </div>
                <div class="card-details">
                    <div class="edit-input">
                        <span class="title">Name:</span>
                        <input type="text" ng-model="bankAcc.name"/>
                    </div>
                    <div class="edit-input">
                        <span class="title">Description:</span>
                        <input type="text" ng-model="bankAcc.description"/>
                    </div>
                    <div class="edit-input">
                        <span class="title">UserName:</span>
                        <input type="text" ng-model="bankAcc.userName"/>
                    </div>
                    <div class="edit-input">
                        <span class="title">Password:</span>
                        <input type="text" ng-model="bankAcc.password"/>
                    </div>
                    <div >
                        <span class="title">URL:</span>
                        <input type="url" class="validate" ng-model="bankAcc.url"/>
                    </div>


                    <div style="text-align:right;">
                        <md-button class="md-raised md-primary" ng-click="savePersonalAcc(bankAcc, '#bankProfile')" style="background: green;">Save</md-button>
                    </div>
                </div>
        </div>
    </div>


    <!-- Bank Creation Modal -->
    <div id="bankCreation" class="modal">
        <div class="bank-acc-modal">
            <div class="main-title">Create Personal Account</div>
            <div class="card-details">
                <div style="overflow: auto;">
                    <div class="edit-input">
                        <span class="title">Name:</span>
                        <input type="text" ng-model="newPersonalAcc.name"/>
                    </div>
                    <div class="edit-input">
                        <span class="title">Description:</span>
                        <input type="text" ng-model="newPersonalAcc.description"/>
                    </div>
                    <div class="edit-input">
                        <span class="title">UserName:</span>
                        <input type="text" ng-model="newPersonalAcc.userName"/>
                    </div>
                    <div class="edit-input">
                        <span class="title">Password:</span>
                        <input type="text" ng-model="newPersonalAcc.password"/>
                    </div>
                    <div class="edit-input">
                        <span class="title">URL:</span>
                        <input type="url" ng-model="newPersonalAcc.url"/>
                    </div>

                    <div class="edit-input">
                        <span class="title">Bank Account:</span>
                        <md-switch ng-model="newPersonalAcc.bankAcc" aria-label="Switch 1"></md-switch>
                    </div>
                </div>
                <div style="background: lightgrey; padding: 15px; overflow: auto;" ng-show="newPersonalAcc.bankAcc">

                    <div class="edit-input" >
                        <span class="title">Routing Number:</span>
                        <input type="text" ng-model="newPersonalAcc.routingNumber"/>
                    </div>
                    <div class="edit-input" >
                        <span class="title">Account Number:</span>
                        <input type="text" ng-model="newPersonalAcc.accountNumber"/>
                    </div>
                </div>

                <div style="text-align:right;">
                    <md-button class="md-raised md-primary" ng-click="createPersonalAcc(newPersonalAcc)" style="background: green;">Save</md-button>
                </div>
            </div>
        </div>
    </div>

    <div id="cardCreation" class="modal">
        <div class="bank-acc-modal">
            <div class="main-title">Create Card</div>
            <div class="card-details">
                <div class="edit-input">
                    <span class="title">Card Name:</span>
                    <input type="text" ng-model="newCard.name" class = "validate"/>
                </div>
                <div class="edit-input">
                    <span class="title">Card Holder Name:</span>
                    <input type="text" ng-model="newCard.fullName" class="validate"/>
                </div>
                <div class="edit-input">
                    <span class="title">Number:</span>
                    <input type="text" ng-model="newCard.cardNumber" ng-class="{ 'invalid-field': !validateCardNumber(newCard.cardNumber)}"/>
                </div>
                <div class="edit-input">
                    <span class="title">CVV:</span>
                    <input type="text" ng-model="newCard.cvv" ng-class="{ 'invalid-field': !validateCvv(newCard.cvv)}"/>
                </div>
                <div class="edit-input">
                    <span class="title">Expiration Date:</span>
                    <input type="text" ng-model="newCard.expirationDate" ng-class="{ 'invalid-field': !validateExpirationDate(newCard.expirationDate)}"/>
                </div>
                <div class="edit-input">
                    <span class="title">Vendor:</span>
                    <input type="text" ng-model="newCard.vendor" class="validate"/>
                </div>
                <div>
                    <span class="title">Type:</span>
                    <div class="switch" style="padding-top: 15px;">
                        <label>
                            Credit
                            <input type="checkbox"  ng-model="newCard.type">
                            <span class="lever"></span>
                            Debit
                        </label>
                    </div>
                </div>

                <div style="text-align:right;">
                    <md-button class="md-raised md-primary" ng-click="createNewCard()" style="background: green;" ng-disabled="!isValidCard(newCard)">Save</md-button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bank Information Modal -->
    <div id="bankModal" class="modal">
        <div class="bank-acc-modal">
            <div class="main-title">{{bankAcc.name}}</div>
            <div id="bankAcc-details">
                <div class="bankAcc-header">
                    <div id="bankAcc-description">
                        <div class="notes">
                            <span class="title">Username:</span> <span style="padding-right: 15px;">{{bankAcc.userName}}</span>
                            <span class="title">Password:</span><span> {{bankAcc.password}}</span>
                        </div>
                    </div>
                </div>
                <ul id ="details-content" class="collapsible" data-collapsible="accordion">
                    <li ng-show="bankAcc.debitCard">
                        <div class="collapsible-header content-row"  ng-click="bankAcc.showDebit = !bankAcc.showDebit"><i class="material-icons">credit_card</i>Debit Card</div>
                        <div ng-show="bankAcc.showDebit">
                            <div>
                                <i class="material-icons details-edit-icon" ng-click="bankAcc.editDebitView = !bankAcc.editDebitView" >mode_edit</i>
                                <span  ng-hide="bankAcc.editDebitView" class="meta-card-details" style="padding-right: 35px;">{{bankAcc.debitCard.type | uppercase}}, {{bankAcc.debitCard.expirationDate}}</span>
                                <i class="material-icons delete-icon" style="font-size: 20px; position: absolute; right: 5; padding-top: 15px;" ng-click="deleteCard(bankAcc.debitCard.cardId)">delete</i>

                            </div>
                            <div class="card-details">

                                <!-- Display View -->
                                <div ng-hide ="bankAcc.editDebitView">
                                    <div class="detail" ngclipboard data-clipboard-text="{{bankAcc.debitCard.name}}">
                                        <span class="title">Card Name:</span>
                                        <span style="padding-right: 15px;" >{{bankAcc.debitCard.name}}</span>
                                    </div>
                                    <div class="detail" ngclipboard data-clipboard-text="{{bankAcc.debitCard.fullName}}">
                                        <span class="title">Card Holder Name:</span>
                                        <span style="padding-right: 15px;" >{{bankAcc.debitCard.fullName}}</span>
                                    </div>
                                    <div class="detail" ngclipboard data-clipboard-text="{{bankAcc.debitCard.cardNumber}}">
                                        <span class="title">Number:</span>
                                        <span> {{bankAcc.debitCard.cardNumber}}</span>
                                    </div>
                                    <div class="detail" ngclipboard data-clipboard-text="{{bankAcc.debitCard.cvv}}">
                                        <span class="title">CVV:</span>
                                        <span> {{bankAcc.debitCard.cvv}}</span>
                                    </div>
                                </div>

                                <!-- Edit View -->
                                <div ng-show="bankAcc.editDebitView">
                                    <div class="edit-input">
                                        <span class="title">Card Name:</span>
                                        <input type="text" ng-model="bankAcc.debitCard.name" class="validate"/>
                                    </div>
                                    <div class="edit-input">
                                        <span class="title">Card Holder Name:</span>
                                        <input type="text" ng-model="bankAcc.debitCard.fullName" class="validate"/>
                                    </div>
                                    <div class="edit-input">
                                        <span class="title">Number:</span>
                                        <input type="text" ng-model="bankAcc.debitCard.cardNumber" ng-class="{ 'invalid-field': !validateCardNumber(bankAcc.debitCard.cardNumber)}"/>
                                    </div>
                                    <div class="edit-input">
                                        <span class="title">CVV:</span>
                                        <input type="text" ng-model="bankAcc.debitCard.cvv"  ng-class="{ 'invalid-field': !validateCvv(bankAcc.creditCard.cvv)}"/>
                                    </div>
                                    <div class="edit-input">
                                        <span class="title">Expiration Date:</span>
                                        <input type="text" ng-model="bankAcc.debitCard.expirationDate" ng-class="{ 'invalid-field': !validateExpirationDate(bankAcc.creditCard.expirationDate)}"/>
                                    </div>
                                    <div class="edit-input" >
                                        <span class="title">Vendor:</span>
                                        <input type="text" ng-model="bankAcc.debitCard.vendor" class="validate"/>
                                    </div>
                                    <div style="text-align:right;">
                                        <md-button class="md-raised md-primary" ng-click="updateCard(bankAcc.debitCard)" ng-disabled="!isValidCard(bankAcc.debitCard)" style="background: green;">Save</md-button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li ng-show="bankAcc.creditCard">
                        <div class="collapsible-header content-row" ng-click="bankAcc.showCredit = !bankAcc.showCredit" >
                            <i class="material-icons">credit_card</i>Credit Card
                        </div>
                        <div ng-show="bankAcc.showCredit">
                            <div>
                                <i class="material-icons details-edit-icon" ng-click="bankAcc.editCreditView = !bankAcc.editCreditView"  >mode_edit</i>
                                <span  ng-hide="bankAcc.editCreditView" class="meta-card-details" style="padding-right: 35px;">{{bankAcc.creditCard.type | uppercase}}, {{bankAcc.creditCard.expirationDate}}</span>
                                <i class="material-icons delete-icon" style="font-size: 20px; position: absolute; right: 5; padding-top: 15px;" ng-click="deleteCard(bankAcc.creditCard.cardId)">delete</i>
                            </div>
                            <div class="card-details">

                                <!-- Display View -->
                                <div ng-hide ="bankAcc.editCreditView">
                                    <div  class="detail" ngclipboard data-clipboard-text="{{bankAcc.creditCard.name}}">
                                        <span class="title">Card Name:</span>
                                        <span style="padding-right: 15px;">{{bankAcc.creditCard.name}}</span>
                                    </div>
                                    <div  class="detail"  ngclipboard data-clipboard-text="{{bankAcc.creditCard.fullName}}">
                                        <span class="title">Card Holder Name:</span>
                                        <span style="padding-right: 15px;">{{bankAcc.creditCard.fullName}}</span>
                                    </div>
                                    <div  class="detail" ngclipboard data-clipboard-text="{{bankAcc.creditCard.number}}">
                                        <span class="title">Number:</span>
                                        <span> {{bankAcc.creditCard.cardNumber}}</span>
                                    </div>
                                    <div  class="detail" ngclipboard data-clipboard-text="{{bankAcc.creditCard.cvv}}">
                                        <span class="title">CVV:</span>
                                        <span> {{bankAcc.creditCard.cvv}}</span>
                                    </div>
                                </div>

                                <!-- Edit View -->
                                <div ng-show="bankAcc.editCreditView">
                                    <div class="edit-input">
                                        <span class="title">Card Name:</span>
                                        <input type="text" ng-model="bankAcc.creditCard.name" class="validate"/>
                                    </div>
                                    <div class="edit-input">
                                        <span class="title">Card Holder Name:</span>
                                        <input type="text" ng-model="bankAcc.creditCard.fullName" class="validate"/>
                                    </div>
                                    <div class="edit-input">
                                        <span class="title">Number:</span>
                                        <input type="text" ng-model="bankAcc.creditCard.cardNumber" ng-class="{ 'invalid-field': !validateCardNumber(bankAcc.creditCard.cardNumber)}"/>
                                    </div>
                                    <div class="edit-input">
                                        <span class="title">CVV:</span>
                                        <input type="text" ng-model="bankAcc.creditCard.cvv"  ng-class="{ 'invalid-field': !validateCvv(bankAcc.creditCard.cvv)}"/>
                                    </div>
                                    <div class="edit-input">
                                        <span class="title">Expiration Date:</span>
                                        <input type="text" ng-model="bankAcc.creditCard.expirationDate" ng-class="{ 'invalid-field': !validateExpirationDate(bankAcc.creditCard.expirationDate)}"/>
                                    </div>

                                    <div class="edit-input">
                                        <span class="title">Vendor:</span>
                                        <input type="text" ng-model="bankAcc.creditCard.vendor" class="validate"/>
                                    </div>
                                    <div style="text-align:right; padding-top: 50px;">
                                        <md-button class="md-raised md-primary" ng-click="updateCard(bankAcc.creditCard)" style="background: green;" ng-disabled="!isValidCard(bankAcc.creditCard)">Save</md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li ng-show="bankAcc.routingNumber">
                        <div class="collapsible-header content-row" ng-click="bankAcc.showCheck = !bankAcc.showCheck"><i class="material-icons">info</i>Checking Info</div>
                        <div ng-show="bankAcc.showCheck">
                            <div>
                                <i class="material-icons details-edit-icon" ng-click="bankAcc.editCheckingView = !bankAcc.editCheckingView"  >mode_edit</i>
                            </div>
                            <div class="card-details">

                                <!-- Display View -->
                                <div ng-hide="bankAcc.editCheckingView">

                                    <div  class="detail" ngclipboard data-clipboard-text="{{bankAcc.routingNumber}}">
                                        <span class="title">Routing Number:</span>
                                        <span style="padding-right: 15px;">{{bankAcc.routingNumber}}</span>
                                    </div>
                                    <div  class="detail"  ngclipboard data-clipboard-text="{{bankAcc.accountNumber}}">
                                        <span class="title">Account Number:</span>
                                        <span> {{bankAcc.accountNumber}}</span>
                                    </div>
                                </div>

                                <!-- Edit View -->
                                <div ng-show="bankAcc.editCheckingView">
                                    <div class="edit-input">
                                        <span class="title">Routing Number:</span>
                                        <input type="text" ng-model="bankAcc.routingNumber"/>
                                    </div>
                                    <div class="edit-input">
                                        <span class="title">Account Number:</span>
                                        <input type="text" ng-model="bankAcc.accountNumber"/>
                                    </div>
                                    <div style="text-align:right;">
                                        <md-button class="md-raised md-primary" ng-click="savePersonalAcc(bankAcc, '#bankModal')" style="background: green;">Save</md-button>
                                    </div>
                                </div>

                            </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Modal for admin functionality -->

    <md-fab-speed-dial md-direction="up" class="md-scale md-fab-bottom-right"  md-open="false">
        <md-fab-trigger>
            <md-button aria-label="Menu" class="md-fab md-warn" style="background: #db4437; color: white;">
                <md-tooltip md-direction="top">Menu</md-tooltip>
                <i class="material-icons" style="color:white; font-size: 24px;" >menu</i>
            </md-button>
        </md-fab-trigger>

        <md-fab-actions>
            <md-button aria-label="Personal Account" class="md-fab md-raised md-mini modal-trigger" ng-click="initNewPersonalAcc(); openModal('#bankCreation');">
                <md-tooltip md-direction="left">Personal Account</md-tooltip>
                <md-icon md-svg-src="img/personal_account.svg"></md-icon>
            </md-button>
            <md-button aria-label="Personal Account" class="md-fab md-raised md-mini modal-trigger" ng-show="month" ng-click="completeAndCreateNewBillingCycle()">
                <md-tooltip md-direction="left">Complete Billing Cycle</md-tooltip>
                <md-icon md-svg-src="img/check.svg"></md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>


    <!-- **************** Footer ***************** -->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Financial Suggestions</h5>
                    <div class="grey-text text-lighten-4">
                        <ul class="finance-reminders">
                            <li>Try to pay each of your bills at the start of each pay check!</li>
                            <li><b>Snowball budgeting: </b>Tackle your largest debt as fast and hard as you can. Then move to the next largest.</li>
                            <li>Before the start of each half month deposit any left-over cash from that pay-cycle into either your <b>savings</b> or <b>debt</b>.</li>
                            <li>Try to utilize one banking account for bills/debt and another for savings and fun!</li>
                        </ul>
                    </div>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Technical Contributions</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3">
                            Materialize | Angular Materials | Angular Charts
                            </a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3">
                                Angular | D3.js
                            </a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3">
                                Font-Awesome | Google Icons
                            </a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3">
                                Spring | Hibernate | AWS
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <a href="https:/www.linkedin.com/in/turnerscottdavid" title="linkedin"><i class="fa fa-linkedin-square social-icon"></i></a>
                <a href="https://plus.google.com/u/0/108692252049768465968" title="Google +"><i class="fa fa-google-plus-official social-icon" aria-hidden="true"></i></a>
                <a href="https://bitbucket.org/DavidScottTurner/home-budget-application" title="BitBucket"><i class="fa fa-bitbucket social-icon" aria-hidden="true"></i></a>
                <span style="padding-left: 25px; font-weight: bold; color:#eeeeee; cursor:pointer;">Technical Blog</span>

                <span style="float:right;">@2017 David Turner</span>


            </div>
        </div>
    </footer>
</div>
</div>