<div ng-controller="logInController" style="padding-top: 75px;">

    <!-- ---------------SignIn Box----------------------------- -->
    <div class="signIn-box">

        <div style="padding: 25px; padding-top: 3em;">
            <div>
                <span class="basic-title" style="font-weight: normal;">Email</span>
                <input id="email" type="email"  ng-model="account.email"/>
            </div>
            <div>
                <span class="basic-title" style="font-weight: normal;">Password</span>
                <input type="password"  ng-model="account.password"/>
            </div>
            <div style="text-align:right;">
                <md-button class="md-raised md-primary" style="background-color: green;" ng-click="login(account)">Sign In</md-button>
            </div>
        </div>


    </div>

    <!-- ---------------------------------Footer-------------------------- -->

    <footer class="page-footer signIn-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 >About</h5>
                    <div>
                        <ul class="finance-reminders">
                            <p>It's important that we stay organized and financially responsible. Lets make it a little easier.</p>
                        </ul>
                    </div>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5>Contact Information</h5>
                    <ul>
                        <li>
                                turner.scott.david@gmail.com
                        </li>
                </div>
            </div>
        </div>
        <div class="footer-copyright signIn-copyRight">
            <div class="container">
                <a href="https:/www.linkedin.com/in/turnerscottdavid" title="linkedin"><i class="fa fa-linkedin-square social-icon"></i></a>
                <a href="https://plus.google.com/u/0/108692252049768465968" title="Google +"><i class="fa fa-google-plus-official social-icon" aria-hidden="true"></i></a>
                <a href="https://bitbucket.org/DavidScottTurner/home-budget-application" title="BitBucket"><i class="fa fa-bitbucket social-icon" aria-hidden="true"></i></a>
                <span style="padding-left: 25px; font-weight: bold;  cursor:pointer;">Technical Blog</span>

                <span style="float:right;">@2017 David Turner</span>


            </div>
        </div>
    </footer>


</div>
