<div ng-controller="personalAccountController" style="padding-top: 75px;">

    <div class="side-navigation" style="width: 35%;background: #f3f3f3;">

        <div style="padding: 10px;">

            <!-- Account Overview -->
            <div class="white-content-panel">
                <span class="right-panel-icon" style="float:right; font-size: .8em; " ng-click="openModal('#accountOverviewModal')">
                    <span class="edit-text" >CHANGE PASSWORD</span>
                </span>
                <div class="basic-title">Overview</div>
                <div class="panel-content account-content" >
                    <div>{{personalAccount.name}}</div>
                    <div>{{personalAccount.email}}</div>
                </div>

            </div>

            <!-- Account Finances -->
            <div class="white-content-panel">
                <span class="right-panel-icon" ng-click="openModal('#financeModal')"><i class="material-icons edit-icon " style="float:right;">mode_edit</i></span>
                <div class="basic-title">Monthly Finance Breakdown</div>
                <div class="panel-content account-content" >
                    <div class='autofill-container'>
                        <div class='autofill-filler'></div>
                        <span class='autofill-name'>Life Expenses</span>
                        <span class='autofill-value money-value negative'>{{personalAccount.lifeExpenses | currency}}</span>
                    </div>
                    <div class='autofill-container'>
                        <div class='autofill-filler'></div>
                        <span class='autofill-name'>Reoccuring Expenses</span>
                        <span class='autofill-value money-value positive'>{{personalAccount.monthlyBillExpenses | currency}}</span>
                    </div>
                    <div class='autofill-container'>
                        <div class='autofill-filler'></div>
                        <span class='autofill-name'>Outstanding Debt</span>
                        <span class='autofill-value money-value positive'>{{personalAccount.monthlyDebtExpenses | currency}}</span>
                    </div>
                    <div class='autofill-container'>
                        <div class='autofill-filler'></div>
                        <span class='autofill-name'>Savings</span>
                        <span class='autofill-value money-value positive'>{{personalAccount.savings | currency}}</span>
                    </div>
                </div>
            </div>

            <!-- Earnings -->
            <div class="white-content-panel">
                <span class="right-panel-icon" ng-click="openModal('#earningsModal')"><i class="material-icons edit-icon " style="float:right;">mode_edit</i></span>
                <div class="basic-title">Monthly Earnings</div>
                <div class="panel-content account-content" >
                    <div class="money-value positive">{{personalAccount.monthlyEarnings | currency}}</div>
                </div>
            </div>

        </div>

    </div>

    <div style="padding-left: 36%;" >
        <div class="content-header">Monthly Budget: At A Glance</div>
        <div>
            <!-- At A Glance -->
            <canvas id="pie" class="chart chart-pie"
                    chart-data="chartData" chart-labels="chartLabels" chart-options="options">
            </canvas>
        </div>
    </div>


    <!-- Account Overview -->
    <div id="accountOverviewModal" class="modal">
        <div class="update-modal">

            <div class="main-title">Change Password</div>

            <div class="card-details" style="margin-top: 1em;">
                <div style="background: #eeeeee; padding: 15px;">
                    <div>
                        <span class="title">New Password:</span>
                        <input type="password" ng-model="newPassword"/>
                    </div>
                    <div>
                        <span class="title">Confirm New Password:</span>
                        <input type="password" ng-model="newPasswordConfirmation" ng-class="{ 'invalid-field': !isValidPasswordConfirmation()}"/>
                    </div>
                </div>


            </div>
            <div style="text-align:right;">
                <md-button class="md-raised md-primary" ng-click="updatePassword(personalAccount, newPassword)" ng-disabled="!isPasswordChangeValid()" style="background: green;">Save</md-button>
            </div>
        </div>
    </div>

    <!-- Earnings Modal -->
    <div id="earningsModal" class="modal">
        <div class="update-modal">
            <div class="main-title">Personal Income</div>
            <div class="card-details" style="margin-top: 1em;">
                <div style="background: #eeeeee; padding: 15px;">
                    <span class="title">Monthly Earnings:</span>
                    <div>
                        <span style="color: green;">$</span><input type="number" ng-model="personalAccount.monthlyEarnings" ng-class="{ 'invalid-field': !isValidMonthlyEarnings()}" style="width: 100px; text-align: center;"/>
                    </div>
                </div>
            </div>
            <div style="text-align:right;">
                <md-button class="md-raised md-primary" ng-click="updateEarnings(personalAccount)" style="background: green;" ng-disabled="!isValidMonthlyEarnings()">Save</md-button>
            </div>
        </div>
    </div>

    <!-- Account Overview -->
    <div id="financeModal" class="modal">
        <div class="update-modal">

            <div class="main-title">Savings Goal</div>

            <div class="card-details" style="margin-top: 1em;">
                <div style="background: #eeeeee; padding: 15px;">
                    <span class="title">Savings Percentages:</span>
                    <div>
                        <input type="number" ng-model="personalAccount.savePercentage" ng-class="{ 'invalid-field': !isValidSavingsPercentage()}" style="width: 100px; text-align: center;"/><span style="color: green;">%</span>
                    </div>
                </div>
            </div>
            <div style="text-align:right;">
                <md-button class="md-raised md-primary" ng-click="updateFinances(personalAccount)" ng-disabled="!isValidSavingsPercentage()" style="background: green;">Save</md-button>
            </div>
        </div>
    </div>



</div>
