<div ng-controller="progressController" style="padding-top: 75px; background-color:">


    <div style="padding: 50px; background: white; border-radius: 2px;">
        <div class="content-header">Yearly Progress</div>

    <!--<a href="http://jtblin.github.io/angular-chart.js/#line-chart">Use this for Development</a>-->
    <div style="margin-left: 5%; margin-right: 5%">
    <md-slider-container >
        <md-slider flex min="{{minYear}}" max="{{maxYear}}"  ng-model="historyYear" aria-label="red" id="red-slider">
        </md-slider>
        <md-input-container>
            <input flex type="number" ng-model="historyYear" max="{{maxYear}}" min="{{minYear}}" aria-label="red" aria-controls="red-slider" style="width: 80px;">
        </md-input-container>
    </md-slider-container>
    </div>

        <div ng-show="data" style="padding-top: 25px;">
            <canvas id="bar" class="chart chart-bar"
                    chart-data="data" chart-labels="labels" chart-series="series" height="100px">
            </canvas>
            <div style="padding-top: 25px;">
                <div>
                    <span class="basic-title" style="padding: 10px;">Total Debt paid</span>
                    <span style="color: green">$</span> <span>{{totalDebtAmountPaid}}</span>
                </div>
                <div>
                    <span class="basic-title" style="padding: 10px;">Total Billing Expenses paid</span>
                    <span style="color: green">$</span> <span>{{totalBillAmountPaid}}</span>
                </div>


            </div>
        </div>

        <div ng-hide="data" class="no-content-text">
            There is no Billing History for this year. Try changing your criteria.
        </div>
    </div>


    <!-- ---------------------------------Footer-------------------------- -->

    <footer class="page-footer signIn-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 >About</h5>
                    <div>
                        <ul class="finance-reminders">
                            <p>It's important that we stay organized and financially responsible. Lets make it a little easier.</p>
                        </ul>
                    </div>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5>Contact Information</h5>
                    <ul>
                        <li>
                            turner.scott.david@gmail.com
                        </li>
                </div>
            </div>
        </div>
        <div class="footer-copyright signIn-copyRight">
            <div class="container">
                <a href="https:/www.linkedin.com/in/turnerscottdavid" title="linkedin"><i class="fa fa-linkedin-square social-icon"></i></a>
                <a href="https://plus.google.com/u/0/108692252049768465968" title="Google +"><i class="fa fa-google-plus-official social-icon" aria-hidden="true"></i></a>
                <a href="https://bitbucket.org/DavidScottTurner/home-budget-application" title="BitBucket"><i class="fa fa-bitbucket social-icon" aria-hidden="true"></i></a>
                <span style="padding-left: 25px; font-weight: bold;  cursor:pointer;">Technical Blog</span>

                <span style="float:right;">@2017 David Turner</span>


            </div>
        </div>
    </footer>



</div>
