<div class="parallax-container">
    <div class="parallax">
        <header class="signIn-header">
            <div class="signIn-title">
                <h1 class="signIn-h1">Budgeting App</h1>
                <p class="signIn-text">Scroll for more!</p>
            </div>
        </header>
    </div>

</div>



<main>
    <h2 class="signIn-h2">Information about Budgeting</h2>
    <p class="signIn-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facilis, labore debitis nesciunt ipsam odio corporis architecto reiciendis voluptas ab quibusdam ratione rerum tempore voluptatibus libero cumque dignissimos vero hic!</p>
</main>
