<div ng-controller="signUpFormController" style="padding-top: 75px;">


    <div class="content-header">
        <div style="display: inline;">
            <span>Sign Up</span>
        </div>
    </div>

    <div>
    <div style="background: white; padding: 25px; margin: 25px 100px 25px 100px; overflow: overlay; border-radius: 3px;">

        <div class="basic-title" style="font-size: 22px;">General Details</div>
        <div style="padding: 25px; padding-top: 3em;">
            <div class="edit-input">
                <span class="basic-title" style="font-weight: normal;">Name</span>
                <input type="text"  ng-model="account.name" class="validate"/>
            </div>
            <div class="edit-input">
                <span class="basic-title" style="font-weight: normal;">Email</span>
                <input id="email" type="email"  ng-model="account.email" class="validate"/>
            </div>
            <div class="edit-input" >
                <span class="basic-title" style="font-weight: normal;">Password</span>
                <input type="password"  ng-model="account.password" class="validate"/>
            </div>
            <div class="edit-input" >
                <span class="basic-title" style="font-weight: normal;">Confirm Password</span>
                <input type="password"  ng-model="passwordConfirmation" class="validate" ng-class="{ 'invalid-field': !isValidPasswordConfirmation()}"/>
            </div>

        </div>


    </div>

    <div style="background: white; padding: 25px; margin: 25px 100px 25px 100px; overflow: overlay; border-radius: 3px;">
        <div class="basic-title" style="font-size: 22px;">Financial Details</div>
        <div style="padding: 25px; padding-top: 3em;">
            <div class="edit-input">
                <span class="basic-title" style="font-weight: normal;">Monthly Savings Percentage</span><span style="color: green; padding-left: 10px; font-size: 22px;">%</span>
                <input type="number"  ng-model="account.savePercentage" ng-class="{ 'invalid-field': !isValidMonthlySavings()}"/>

            </div>
            <div class="edit-input">
                <span class="basic-title" style="font-weight: normal;">Monthly Earnings</span><span style="color: green; padding-left: 10px; font-size: 20px;">$</span>
                <input type="number"  ng-model="account.monthlyEarnings" ng-class="{ 'invalid-field': !isValidMonthlyEarnings()}"/>

            </div>




        </div>
    </div>
    </div>
    <div class="row">
        <button class="btn waves-effect waves-light center col s12 m2 offset-m5" type="submit" id="submit" name="submit" ng-click="signUp(account)" ng-disabled="!isSignUpFormValid()">
            Join Fiscal Focus
            <i class="material-icons right">send</i>
        </button>
    </div>


</div>
