<div ng-controller="signUpController" style="padding-top: 75px;">

    <!-- Content -->
    <div class="parallax-container center valign-wrapper">
        <div class="container" style="z-index: 2;">
            <div class="row">
                <div class="col s12 white-text">
                    <h2 style="color: white;">Plan, spend, and conquer debt</h2>
                    <p>A modern way to keep track of your finances</p>
                    <a class="waves-effect waves-light btn-large" style="color: white; background-color: #03a9f4 !important " ng-click="goTo('/signUpForm')">Get Started</a>
                </div>
            </div>
        </div>

        <div class="parallax">
            <img src="img/budgeting.jpg">
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col m4 s12">
                <div class="icon-block">
                    <h2 class="center light-blue-text">
                        <i class="material-icons">settings</i>
                    </h2>
                    <h5 class="center">Manage</h5>
                    <p class="light" style="font-size: 18px;">
                        Take control of your finances - but without the administrative overhead. Keep track of your financial information, monthly budget, and audible history all in one place.
                    </p>
                </div>

            </div>
            <div class="col m4 s12">
                <div class="icon-block">
                    <h2 class="center light-blue-text">
                        <i class="material-icons">book</i>
                    </h2>
                    <h5 class="center">Learn</h5>
                    <p class="light" style="font-size: 18px;">
                        While managing your different expenses and financial institutions is great for the day-to-day; it's nice to be able to glance at your progress and see what you can improve on. Or better yet, look at what you've been able to tackle!
                    </p>
                </div>
            </div>
            <div class="col m4 s12">
                <div class="icon-block">
                    <h2 class="center light-blue-text">
                        <i class="material-icons">insert_emoticon</i>
                    </h2>
                    <h5 class="center">Simplicity</h5>
                    <p class="light" style="font-size: 18px;">
                         Let's be honest - managing our finances is not fun; often times proving to be a painfully stressful exercise. Let FiscalFocus make things simple: by providing you a quick, accessible means to budget.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container center valign-wrapper">
        <div class="parallax"><img src="img/finances.jpg">
        </div>


    </div>

    <div class="container center-align">
        <div class="section">
            <div class="row">
                <div class="col s12">
                    <h4>Contact Me</h4>
                    <p class="light center-align" style="font-size: 18px;">
                        Questions, bugs, candid feedback, suggested enhancements - anything at all. It's all welcome, and I'd love to hear it. Just shoot me an e-mail!
                    </p>
                    <b>turner.scott.david@gmail.com</b>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container center valign-wrapper">
        <div class="parallax"><img src="img/happypeople.jpg">
        </div>

        <div class="container white-text" style="z-index: 2;">
            <div class="row">
                <div class="col s12">
                    <h5 style="z-index: 2;">Let's make financing easy!</h5>
                </div>
            </div>
        </div>
    </div>

    <!-- **************** Footer ***************** -->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Final Notes</h5>
                    <div class="grey-text text-lighten-4">
                        <ul class="finance-reminders">
                            <li>This application is insecure, as it is under active development. </li>
                            <li><b style="font-size: 18px;">DO NOT: </b>save any personal or private information. This solution is only a prototype.</li>
                        </ul>
                    </div>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Technical Contributions</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3">
                                Materialize | Angular Materials
                            </a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3">
                                Angular | D3.js
                            </a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3">
                                Font-Awesome | Google Icons
                            </a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3">
                                Spring | Hibernate | AWS
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <a href="https:/www.linkedin.com/in/turnerscottdavid" title="linkedin"><i class="fa fa-linkedin-square social-icon"></i></a>
                <a href="https://plus.google.com/u/0/108692252049768465968" title="Google +"><i class="fa fa-google-plus-official social-icon" aria-hidden="true"></i></a>
                <a href="https://bitbucket.org/DavidScottTurner/home-budget-application" title="BitBucket"><i class="fa fa-bitbucket social-icon" aria-hidden="true"></i></a>
                <span style="padding-left: 25px; font-weight: bold; color:#eeeeee; cursor:pointer;">Technical Blog</span>

                <span style="float:right;">@2017 David Turner</span>


            </div>
        </div>
    </footer>

</div>






