<div ng-controller="supportController" class="support-page">
    <div style="background: white !important;">



        <!-- --------------Opening Statement------------- -->
        <div class="parallax-container center valign-wrapper" style="height: 700px;">
            <div class="container" style="z-index: 2;">
                <div class="row">
                    <div class="col s12 white-text" style="text-align: center;">
                        <h2 style="color: white;" class="basic-title">Let's get started</h2>
                        <p>FiscalFocus delivers more than just administrative maintenance.<br/>
                            It offers heightened levels of visibility on your current and past financial endeavors.
                        </p>
                    </div>
                </div>
            </div>

            <div class="parallax">
                <img src="img/get_started.jpg">
            </div>

        </div>


        <!-- ---------Support Details-------------- -->
        <div class="support-details-container">

            <!-- Bills And Debts -->
            <div>
                <div style="float: left; width: 50%;">
                    <h2 class="basic-title" style="font-size: 28px">Manage your finances</h2>
                    <p>
                        FiscalFocus keeps track of things on a monthly plan. This monthly budget is created by your personal earnings, savings desire, and your active bills and debts.
                        To leverage all that FiscalFocus has to offer make sure you these up before creating a monthly budget.
                    </p>
                    <md-button class="md-raised md-primary" style="background-color: green; color: white;" ng-click="goTo('/accounts')">Manage Finances</md-button>

                </div>
                <div style="color: green; font-size: 200px;">
                    <i style="padding-left: 150px;" class="fa fa-money" aria-hidden="true"></i>
                </div>
            </div>

            <!-- Personal Account Info -->
            <div style="padding-top: 100px;">
                <div style="float: left; width: 50%; font-size: 200px; color: #03a9f4;">
                    <i style="padding-left: 150px;" class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div>
                    <h2 class="basic-title" style="font-size: 28px">Never forget your account information</h2>
                    <p>
                        Another headache FiscalFocus tries to resolve is the constant frustration of forgetting one's personal credentials, banking information, or even the site we use to pay our bills! The Home page, under the scope of a monthly budget, provides
                        just that. Make sure to keep a record of your banking details here as a nice to have!
                    </p>
                    <md-button class="md-raised md-primary" style="background-color: green; color: white;" ng-click="goTo('/home')">View Dashboard</md-button>
                </div>
            </div>

            <!-- Monthly Cycle / Auditing -->
            <div style="padding-top: 100px;">
                <div style="float: left; width: 50%;">
                    <h2 class="basic-title" style="font-size: 28px">Budgeting your month</h2>
                    <p>
                        Make sure to pay your monthly bills and debts at the main dashboard - it's quick and easy! First and foremost, it provides a quick, high-level view on what has and what hasn't been paid. But paying bills will also create a record for auditing purposes
                        when looking back at your spending patterns further on down the road. When all is paid and you are ready to start a new month with your active bills and debts, just take advantage of the Home Menu!
                    </p>
                    <md-button class="md-raised md-primary" style="background-color: green; color: white;" ng-click="goTo('/progress')">View Progress</md-button>
                </div>
                <div style="color: #db4437; font-size: 200px;">
                    <i style="padding-left: 150px;" class="fa fa-bar-chart" aria-hidden="true"></i>
                </div>
            </div>

        </div>

        <!-- Questions -->
        <div style="text-align: center; padding-top: 50px; padding-bottom: 50px;">
            <h2 class="basic-title" style="font-size: 28px; margin-left: 20%; margin-right: 20%; border-bottom: 1px solid #eee; padding-bottom: 5px;">Questions?</h2>
            <p>
                Questions, bugs, candid feedback, suggested enhancements - anything at all. It's all welcome, and I'd love to hear it. Just shoot me an e-mail!
            </p>
            <b>turner.scott.david@gmail.com</b>
        </div>

    </div>


    <!-- **************** Footer ***************** -->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Financial Suggestions</h5>
                    <div class="grey-text text-lighten-4">
                        <ul class="finance-reminders">
                            <li>Try to pay each of your bills at the start of each pay check!</li>
                            <li><b>Snowball budgeting: </b>Tackle your largest debt as fast and hard as you can. Then move to the next largest.</li>
                            <li>Before the start of each half month deposit any left-over cash from that pay-cycle into either your <b>savings</b> or <b>debt</b>.</li>
                            <li>Try to utilize one banking account for bills/debt and another for savings and fun!</li>
                        </ul>
                    </div>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Technical Contributions</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3">
                                Materialize | Angular Materials | Angular Charts
                            </a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3">
                                Angular | D3.js
                            </a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3">
                                Font-Awesome | Google Icons
                            </a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3">
                                Spring | Hibernate | AWS
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <a href="https:/www.linkedin.com/in/turnerscottdavid" title="linkedin"><i class="fa fa-linkedin-square social-icon"></i></a>
                <a href="https://plus.google.com/u/0/108692252049768465968" title="Google +"><i class="fa fa-google-plus-official social-icon" aria-hidden="true"></i></a>
                <a href="https://bitbucket.org/DavidScottTurner/home-budget-application" title="BitBucket"><i class="fa fa-bitbucket social-icon" aria-hidden="true"></i></a>
                <span style="padding-left: 25px; font-weight: bold; color:#eeeeee; cursor:pointer;">Technical Blog</span>

                <span style="float:right;">@2017 David Turner</span>


            </div>
        </div>
    </footer>


</div>