<div ng-controller="testController" style="padding-top: 75px;">

    <div class="content-header" style="padding-bottom: 50px;">Basic Testing</div>


    <md-button style="margin-left: 50px;"  class="md-raised md-primary" ng-click="getDebt()">Debt</md-button>
    <md-button style="margin-left: 50px;"  class="md-raised md-primary" ng-click="getBills()">Bills</md-button>
    <md-button style="margin-left: 50px;"  class="md-raised md-primary" ng-click="getBankAccounts()">Banking</md-button>
    <md-button style="margin-left: 50px;"  class="md-raised md-primary" ng-click="getPersonalAccount()">Account</md-button>



    <div style="background: white; padding: 20px; margin-top: 1em;" ng-show="message">
        <div style="font-size: 20px; text-align:center; font-weight: bold">
            {{message}}
        </div>
        <pre id="json" style="font-family: 'Nunito';font-size: 18px;"></pre>

    </div>

    <div style="padding: 25px; width: 50%; margin: 0 auto; margin-top: 50px; background: white; border-radius: 4px;">
        <div class="basic-title" style="font-size: 22px;">TO-DO</div>

        <ul style="font-size: 18px;">
            <li style="padding-top: 5px;">
                Build Services to pull All Audits for a  bill/debt.
            </li>
            <li style="padding-top: 5px;">
                Update At a Glance Page (account page)
            </li>
            <li style="padding-top: 5px;">
                Create Progress Page
            </li>



        </ul>

    </div>




</div>