
.app-body {
    background: #eee;
}
.header {
    background: #db4437;
    font-family: 'Roboto';
    font-size: 2em;
    color: white;
    padding: 10px;
    padding-left: 15px;
    margin-bottom: 1em;
    width: 100%;
    z-index: 3;
    position: fixed;
    padding-right: 15px;
    padding-left: 10%;
    height: 75px;
    
}



select {
    display: block;
    margin-top: 15px;
    height: 35px;
    border-radius: 2px;
    background: white;
    outline: none !important;
    border: 2px solid #eeeeee;
}

.invalid-field {
    border-bottom: 1px solid #F44336 !important;
    box-shadow: 0 1px 0 0 #F44336 !important;
}

.invalid-field:focus {
    border-bottom: 1px solid #26a69a !important;
    box-shadow: 0 1px 0 0 #26a69a !important;
}

.back-arrow {
    font-size: 1em;
    padding-right: 10px;
    cursor: pointer;
}

.back-arrow:hover {
    color: #172b4d;
}

*:focus {
    outline: none !none;
}

.basic-title {
    font-weight: bold;
    color: #172b4d;
    font-size: 18px;
    font-family: 'Nunito';
}

a {
    text-decoration: none !important;
    width: 100%;
}


 .list {
    list-style: none;
}

.no-content-text {
    text-align: center;
    font-size: 22px;
    font-family: 'Comfortaa';
    color: purple;
    margin-bottom: 3em;
    margin-top: 1em;
}


/* Ensure that the MaterializeCSS doesn't override the current CSS */
.month-cycle-creation .caret {
    display: none !important;
}

.month-cycle-creation .select-dropdown {
    display: none !important;
}

.month-cycle-creation .dropdown-content {
    display: none !important;
}
/* ----------------Nav Items------------------ */
.nav-list-container {
    margin-left: 25px;
    margin-bottom: 0;
    margin-top: 10px;
    border-left: 2px solid #ee6e73;
    display: inline;
    position: relative;
    top: 10px;
    padding-left: 5px !important;
}

.nav-item {
    outline: none;
}

.nav-items {
    display: table-cell;
    padding: 10px 25px 10px 25px;
    cursor: pointer;
}

.nav-item:hover, .nav-item.active {
    background: rgba(160, 8, 8, 0.39);
    border-radius: 2px;
    margin-left: 5px;
}


.support-nav-item {
    float: right;
    padding-right: 25px;
    font-size: 1em;
    position: relative;
    top: 15px;
    cursor: pointer;
    Padding: 5px 10px 5px 10px
}

.side-navigation {
    height: 100%;
    width: 300px;
    background-color: white;
    position: fixed!important;
    z-index: 1;
    overflow: flex;
    font-family: 'Nunito';
    font-size: 16px;
}

.side-nav-button {
    background: #f4f5f7;
    color: #42526E;
    width: 90%;
    border-radius: 3px;
    margin-bottom: 25px;
}

.white-content-panel {
    background: white;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: visible;
    border-radius: 3px;
}

.white-content-panel .panel-content{
    font-family: 'Nunito';
}

.side-nav-button:hover {
  color: #505F79;
  background: #ebecf0;
}

.side-nav-button:focus {
    background: #f4f5f7;
    color: #42526E;
}

.side-nav-button.active, .side-nav-button.active:focus {
 background-color: #DEEBFF !important;
 color: #0052CC !important;
}

.legend-container {
    padding-left: 25px;
    margin-bottom: 1em;
}

.legend-icon {
    color: #42526e;
    margin-right: 15px;
}

/* *********Autofill Spaces with ... ********** */

.outer {
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: relative;
    clip: auto;
    overflow: hidden;
}
.autofill-container {
    position: relative;
    text-align: right;
    white-space: nowrap;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.autofill-filler {
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 1px dashed;
    height: 75%;
}
.autofill-name {
    background: white;
    float: left;
    margin-right: 20px;
    padding-right: 4px;
    position: relative;
}
.autofill-value {
    background: white;
    padding-left: 4px;
    position: relative;
}





/* ******** Fancy Title Hovering *************/

.fancy-title {
  display: block;
  text-decoration: none;
  color: rgba(0,0,0,.55);
  margin-bottom: 1rem;
  text-align: center;
  transition: .5s;
}
.fancy-title:hover {
  color:  rgba(0,0,0,.3);
  letter-spacing: 2px;
}


/* ---------------------------------- */

footer {
    background: #db4437;
}

.md-primary:hover {
    background:  #5fcf80 !important;
    color: white;
}

.md-primary:focus {
    background:  #5fcf80 !important;
    color: white;
}

.filterText {
    text-align: center;
    padding-top: 10px;
}

.filterText .input-text {
    width: 75%;
    border-radius: 0px;
    box-shadow: none;
    padding: 4px 4px 4px 5px;
    border: 1px solid rgb(237, 239, 240);
    outline: none;
    margin-bottom: 0px;
    padding-left: 15px;
}

.page-footer .finance-reminders {
    font-size: 13px;
}

.page-footer .finance-reminders li {
    padding-bottom: 15px;
}

.material-icons {
    font-size: 4em;   
}

.social-icon {
    margin: 0 5px;
    font-size: 1.5em;
    color: #eeeeee;
}

.social-icon:hover {
    color: white;
    cursor: pointer;
}
/* ------------------- Card Styles ----------------------- */

.list-cards {
    overflow: auto;
}


.list-cards .md-dark-grey-theme {
    width: 45%;
    margin: 2.5%;
    float: left;
    height: min-height: 200px;
}

.list-cards .md-dark-grey-theme button {
    background: #eeeeee;
    color: #444 !important;
}

.card-title {
    font-family: 'Roboto';
}

.yay-message {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

/* -------------------- Useful Info Cards ------------------ */
.content-header {
    padding-left: 25px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.57);
    font-family: 'Comfortaa';
    margin-top: 1em;
}

.usefulInfoList {
    width: 65%;
    margin-left: 17.5%;
    margin-right: 17.5%;
}
.usefulInfoList .item {
    float: left;
    height: 200px;
    width: 50%;
    background: #f9f9f9;
    color: grey;
}

.usefulInfoList .item p {
    padding-left: 10px;
    padding-right: 10px;
}
.usefulInfoList .item:hover {
    cursor: pointer;
    background: white;
    color: #212121;
}

.phone-details {
    text-align: center;
    font-size: 14px;
    
}

.user-panel {
    color: white;
    font-family: 'Comfortaa';
    font-size: 22px;
}

.user-title {
    color: #f9f9f9;
    font-size: 12px;
    text-align: center;
}

.user-name {
    color: white;
    font-family: 'Comfortaa';
    font-size: 22px;
}






/* -------------------Account Panel Styling-------------------------- */
.acc-panel {
    font-family: 'Roboto';
    color: grey;
    background: white;
}

.acc-panel .title {
    font-family: 'Comfortaa';
    background: red;
    padding: 10px;
    color: white;
    font-size: 20px;
}

.acc-panel .section-title {
    color: #4db94d;
    font-size: 20px;
    background: #efefef;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.acc-panel .account {
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid #f1efef;
    outline: none !important;
}


.acc-panel .account:hover {
    background: #29b6f6 !important;
    cursor: pointer;
    color: white;
}

.acc-panel .account.active {
    background: #29b6f6 !important;
    color: white;
}

.acc-panel .account.paid {
    background: #33ac71 !important;
    color: white;
}

.acc-panel .db-details {
    background: white;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    padding-left: 25px;
}

.acc-panel .db-details div {
    padding-bottom: 5px;
}

.acc-panel .title {
    font-size: 14px;
}



.overview .title {
    padding: 0 15px 0 15px;
    border-left: 1px solid #9F6F6F;
    background: none;
    color: grey;
    padding-right: 5px;
}

.overview span:first-child {
    border-left: none;
}

.overview label {
    font-size: 12px;
    font-weight: normal;
    padding-right: 10px;
}

.overview {
    text-align: center;
    padding-top: 1em;
}


/* ---------------Expense Accounts View ------------------------- */



.expense-account-container {
    background: white;
    margin: 2px;
    width: 32%;
    float: left;
    cursor: pointer;
}

.expense-account-container:hover {
    background-color: #DEEBFF;
    color: #0052CC;
}

.expense-account-container .contents {
    color: #42526e;
    padding: 25px;
    position: relative;
    height: 200px;
}

.expense-account-title {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Comfortaa';
}

.expense-account-container  .price-amount {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 15px;
    color: green;
    font-size: 18px;
    font-weight: bold;
}

/* ------------ Account Page ---------------------- */

.account-input {
    border: none !important;
    background: rgb(244, 245, 247) !important;
}

.sub-header {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.57);
    font-family: 'Comfortaa';
}


/* ----------- Tight Box List Styling (Bank Account Information Section) --------- */
.tight-box-list {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1em;
}
.tight-box-list .box {
    float:left;
    margin: 1px;
    background:#f9f9f9;
    text-align:center;
    height: 200px;
    width: 49%;
}

.tight-box-list .box:hover {
    background: #fbfbfb;
    cursor: pointer;
}

.tight-box-list .box-title {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Comfortaa';
    color: grey;
}

.tight-box-list p {
    font-size: 12px;
}

.bank-acc-modal .main-title {
    background: #ee6e73;
    padding: 10px;
    font-weight: bold;
    color: white;
    font-family: 'Comfortaa';
    font-size: 1.5em;
    text-align: center;
}


.tight-box-list .material-icons {
   color: grey;
}

.tight-box-feature {
    float: left;
    width: 50%;
    opacity: .75;
    color: white;
    opacity: .7;
}

.tight-box-feature:hover {
    opacity: 1;
}

.add-card-holder {
   background: #33ac71;
}

.account-settings {
    background: rgba(0, 0, 0, 0.57);
}



/* ------------------- Bank Acc Modal Details -------------------------- */


#bankAcc-details {
    background-color: white;
    border-radius: 4px;
	cursor: default;
    
}

#bankAcc-details .bankAcc-header {
    padding: 10px;
}


#bankAcc-details .heading {
    border-bottom: 1px solid #E2E5E6;
    padding-bottom: .5em;
    font-size: 2em;
    
}

#bankAcc-details .heading .title {
	font-size: 1.2em;
    color: #79C9EF;
}


#bankAcc-details #bankAc-description {
    margin-top: 10px;
	padding-left: 4em;  
}

.details-edit-icon {
    font-size: 20px;
    padding: 15px;
    outline: none;
}

.details-edit-icon:hover {
   color: #15a4e8;
   cursor: pointer;
}

.edit-text {
    color: #88b5f9;
}

.edit-text:hover {
    color: #15a4e8;
    cursor: pointer;
}

.details-header {
	font-size: 22px;
    color: #455A64;
    padding-left: 2em;
}

#details-content .content-row {
    border-bottom: 1px solid #A3CBDE;
    background: rgba(213, 233, 243, 0.45);
    padding: 10px;
    font-size: 16px;
    padding-left: 3em;
    color: #15A4E8;
    cursor: pointer;
    text-align: center;
	
}

#details-content  .row-content {
	font-weight: bold;
	color: #0F89C3;
}

#details-content  .content-row:hover {
	background: #03a9f4;
    color: white;
}

#details-content .content-row:hover .material-icons {
    color: white;
}

#bankAcc-description .notes {
    font-size: 16px;
    text-align: center;
}

#bankAcc-description .notes .title {
    font-family: 'Comfortaa';
    font-weight: bold;
    font-size: 1.25em;
    padding-right: 5px;
    color: grey;
}

.card-details {
    padding: 20px;
    padding-top: 10px;
}



.card-details .detail:hover {
    background: #eeeeee;
}

.card-details .select-wrapper {
    display: inline-block;
    width: 45%;
    margin: 1%;
}

.card-details .detail {
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
}

.card-details .title {
    font-family: 'Comfortaa';
    padding-right: 10px;
    font-weight: bold;
}

.right-panel-icon {
    text-align:right;
     font-size: 5px;
     padding: 15px;
}
.delete-icon {
    color: #ee6e73;
}

.edit-icon {
    color: #DEEBFF;
}

.delete-icon:hover {
    color: red;
    cursor: pointer;
}

.edit-icon:hover {
    cursor:pointer;
    color: #0052CC;
}

.meta-card-details {
    float: right;
    padding: 15px;
    margin-bottom: 1em;
    font-size: 18PX;
    padding-bottom: 25px;
}

.edit-input {
    float: left;
    width: 49%;
    margin-right: 1%;
}

.payment-text-button {
    height: 25px !important;
    background: rgb(248, 255, 252) !important;
    border-radius: 2px !important;
    color: rgb(128, 143, 179);
    width: 75px !important;
    margin-left: 10px !important;
    text-align: center;
}

/* ------------- Fab Button ------------ */

.md-fab-bottom-right {
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed !important;
}

.fab-chevron {
    color: white;
    position: relative;
    right: 6px;
}

/----------Notification----------/

.notification {
    padding: 5px 15px 5px 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 3em;
	position: relative;
}

.notification p {
    display: inline;
    padding-left: 10px;
    font-size: 16px;
    margin-top: -5px;
    line-height: 20px;
}
.notification-icon {
    font-size: 2.4em;
}

.notification .title {
    margin: 0;
    font-size: 20px;
}

.closeBtn {
    font-size: 2em;
    color: rgba(0, 0, 0, 0.23);
    cursor: pointer;
    float:right;
    margin-bottom: 2px;
}

.closeBtn:hover {
    color: rgba(0, 0, 0, 0.42);
}

/********************************************/

/* ----------------- Account Page --------------- */

.white-content-panel .panel-content.account-content {
    padding: 10px;
    color: #686868;
}

.money-value {
    font-size: 1.2em;
}

.money-value.positive {
    color: #33ac71;

}

.money-value.negative::before {
    content: '-';
}

/* -------------------- SignUp Page -------------------- */


.signIn-header {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/login_background.jpg);
  background-size: cover;
  height: 100vh;
}

.parallax{
  z-index: 1;
}

/* -------------------- SignIn Page --------------------- */

.signIn-box {
    background: white;
    padding: 25px;
    overflow: overlay;
    border-radius: 3px;
    width: 50%;
    margin: 0 auto;
    margin-top: 5em;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
}

.signIn-footer {
    margin-top: 20em;
    border-top: 1px solid #d5d5d5;
    margin: 0 auto;
    margin-top: 5em;
    width: 75%;
    font-weight: bold;
    font-size: 13px;
    background: none;
    color: #b2bac2 !important;
}

.signIn-copyRight {
    background-color: transparent !important;
    font-weight: bold !important;
    font-size: 13px;
    border-top: 1px solid #d5d5d5;
    color: #b2bac2 !important;


}


.signIn-copyRight .social-icon {
    color: #b2bac2 !important;
}


/* ********************* Modal Edit Styling **************** */

.update-modal .main-title {
    background: #ee6e73;
    padding: 10px;
    font-weight: bold;
    color: white;
    font-family: 'Comfortaa';
    font-size: 1.5em;
    text-align: center;
}

/* ---------------------- Support Page ------------------ */

.support-page {
    padding-top: 75px;
}

.support-details-container {
    padding: 50px;
    overflow: overlay;
    padding-left: 10%;
    padding-right: 10%;
}

.support-details-container p {
    color: color: rgba(0, 0, 0, .55);
}

.submit-button {
    background-color: #2B8815;
    color: white;
}









