
<div class="notification" ng-class="getStyle()" ng-show="notification.message.length > 1 && !loading" style="width: 25%; margin: 0 auto; margin-top: 1em;">
    <span class="notification-icon"><i ng-class="getIcon()"></i></span>
    <p>{{notification.message}}</p>
    <i class="closeBtn fa fa-times" title="close" ng-click="close()"></i>
</div>



