<html ng-app = 'app' style="background: #eee;">
    <head>
        <title>Billing Accounts</title>
        <!-- Materialize Libraries -->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.css">
        <link rel="stylesheet" href="lib/Materialize-stepper-master/materialize-stepper.min.css">


        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

        <!-- Angular Materials CSS Library -->
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.css">

        <!-- Font Awesome Library -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

        <!-- No UI Slider -->
        <link rel="stylesheet" href="lib/nouislider.css">

        <!-- App Styling -->
        <link rel="stylesheet" href="css/app.css">
        <link rel="icon" href="https://3.bp.blogspot.com/-W__wiaHUjwI/Vt3Grd8df0I/AAAAAAAAA78/7xqUNj8ujtY/s1600/image02.png">
    </head>


    <body class="app-body">

        <div ng-controller = 'mainController' style="background: #eee">
            <div  class='header ng-cloak' in-view="showFab = !$inview" ng-hide="hardLoad">
                <span  style="float:left; cursor: pointer; outline: none;" ng-click="goTo('/home'); activeNav = 'home'"ng-class="{ 'active': activeNav === 'home' }" ng-show="loggedIn" >
                    Home <i class="material-icons social-icon" style=" position: relative; bottom: 0; top: 10;">home</i>
                </span>
                <span  style="float:left; cursor: pointer;"  ng-hide="loggedIn" ng-click="goTo('/signUp'); activeNav = 'home'" >
                   <i class="material-icons social-icon" style=" position: relative; bottom: 0; top: 10;">business</i>  FiscalFocus
                </span>
                <ul class="nav-list-container" ng-show="loggedIn">
                    <li class="nav-items nav-item" ng-click="goTo('/accounts');activeNav = 'accounts'" ng-class="{ 'active': activeNav === 'accounts'}">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <md-tooltip md-direction="bottom">Debt and Bills</md-tooltip>
                    </li>
                    <li class="nav-items nav-item" ng-click="goTo('/progress');activeNav = 'progress'" ng-class="{ 'active': activeNav === 'progress' }">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        <md-tooltip md-direction="bottom">Progress</md-tooltip>
                    </li>
                    <li class="nav-items nav-item" ng-click="goTo('/personalAccount');activeNav = 'personalAccount'" ng-class="{ 'active': activeNav === 'personalAccount'}">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <md-tooltip md-direction="bottom">Account</md-tooltip>
                    </li>
                </ul>
                <span style="float: right; outline: none;" class="support-nav-item nav-item" ng-click="goTo('/support'); activeNav = 'support'"  ng-class="{ 'active': activeNav === 'support'}" ng-show="loggedIn">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    <md-tooltip md-direction="bottom">Support</md-tooltip>
                </span>
                <span ng-show="!loggedIn" style="float: right; font-size: 18px; top: 15px; outline: none;" class="support-nav-item nav-item" ng-click="goTo('/logIn'); activeNav = 'logIn'" ng-class="{ 'active': activeNav === 'logIn'}">
                     Sign In
                </span>
                <span ng-show="loggedIn" style="float: right; font-size: 18px; top: 15px; outline: none;" class="support-nav-item nav-item" ng-click="logOut()">
                     Sign Out
                </span>
            </div>


            <!--  ************************* Loading Panel ******************************-->
            <div   ng-show="loading" style="text-align:center;" >
                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" style="position:absolute; top: 50%; font-size: 6em;"></i>
            </div>

               <!-- ******************************************************************************** -->

            <!-- ********* Main Page Content ****** -->
            <div ng-view ng-hide="loading" style="paddin-top: 100px;"></div>
        </div>


        <!-- Jquery script -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>


        <!-- Angular Material and Angular.js Libraries -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

        <!-- In-view Angular Library -->
        <script src="lib/angular-inview/angular-inview.js"></script>

        <!-- Underscore JS Library -->
        <script src="lib/UnderScore/Underscore.js"></script>

        <!-- Angular Materials and Materialize Libraries -->
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.js"></script>
        <script src="lib/Materialize-stepper-master/materialize-stepper.min.js"></script>


        <!-- Angular clipboard Library -->
        <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
        <script src="lib/ngclipboard.min.js"></script>


        <!-- Angular Charts -->

        <script src="lib/angular-chart/chart.js/dist/Chart.js"></script>
        <script src="lib/angular-chart/angular-chart.js/dist/angular-chart.js"></script>

        <!-- noUiSlider -->
        <script src="lib/nouislider.js"></script>

        <!-- ***** App Resources ***** -->
        <script src="js/app.js"></script>
        <script src="js/directives.js"></script>

        <!-- Services -->
        <script src="js/services/BillService.js"></script>
        <script src="js/services/BankAccountService.js"></script>
        <script src="js/services/BillingService.js"></script>
        <script src="js/services/AdminService.js"></script>
        <script src="js/services/PersonalAccountService.js"></script>
        <script src="js/services/BillingCycleService.js"></script>
        <script src="js/services/ConstantsService.js"></script>
        <script src="js/services/TestService.js"></script>

        <!-- Util Services -->
        <script src="js/services/utils/UtilsService.js"></script>
        <script src="js/services/utils/ServiceUtils.js"></script>
        <script src="js/services/utils/AccountHandlingService.js"></script>
        <script src="js/services/utils/ModalUtils.js"></script>


        <!--Controllers-->
        <script src="js/controllers/HomeController.js"></script>
        <script src="js/controllers/MainController.js"></script>
        <script src="js/controllers/TestController.js"></script>
        <script src="js/controllers/AccountsController.js"></script>
        <script src="js/controllers/AccountController.js"></script>
        <script src="js/controllers/PersonalAccountController.js"></script>
        <script src="js/controllers/ProgressController.js"></script>
        <script src="js/controllers/SignUpController.js"></script>
        <script src="js/controllers/SignUpFormController.js"></script>
        <script src="js/controllers/LogInController.js"></script>
        <script src="js/controllers/SupportController.js"></script>

    </body>
</html>